#board {
    width: 50%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr)
}
#board *{
    border: 1px solid black;
    height: 200px;
    text-align: center;
    font-size: 4rem;
}
#board *:hover{
    cursor: pointer;
}