body{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Inconsolata', monospace;
}
.hidden{
    visibility: hidden;
}
.collapsed{
    visibility: collapse;
}
#start-game{
    width: 50%;
    margin: 1rem auto 0 auto;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
input{
    padding: 0.5rem;
}
#start-game button{
    margin: 0 auto;
}
.wrapper-input{
    display: flex;
    justify-content: space-between;
}
button{
    width: 200px;
    padding: 0.5rem;
    background: transparent;
    border: 2px solid #a70a0a;
    border-radius: 3px;
}
button:hover{
    border: 2px solid #060671;
    cursor: pointer;
}
#restart{
    visibility: hidden;
}
.wrapper-btn{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}
#player-names{
    width: 50%;
    margin: 2rem auto 0 auto;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
}
#board {
    width: 50%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
#board *{
    border: 1px solid rgb(33, 26, 48);
    height: 200px;
    text-align: center;
    font-size: 4rem;
    line-height: 3;
}
#board *:hover{
    cursor: pointer;
}
#message{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.blue{
    color: #060671;
}
.red{
    color: #a70a0a;
}
#turn{
    font-size: 0.8 rem;
}
.hover-blue:hover{
    background-color: #e1e1fe;
}
.hover-red:hover{
    background-color: #ffdada;
}